#toast-container {
    position: fixed;
    top: 200px;
    right: 20px;
    z-index: 9999;
    margin-top: var(--spacing3);
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    opacity: 0;
    animation: fadeInOut 4s forwards;
    font-family: sans-serif;
}

@keyframes fadeInOut {
    0%   { opacity: 0; transform: translateY(-10px); }
    10%  { opacity: 1; transform: translateY(0); }
    90%  { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}

@media (max-width:750px){
    #toast-container {
        top: 350px;
    }
}